<h1>Editing productclear</h1>

<%= render "form", productclear: @productclear %>

<br>

<div>
  <%= link_to "Show this productclear", @productclear %> |
  <%= link_to "Back to productclears", productclears_path %>
</div>
